    <section class="hero py-16">
      <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2 pl-16">
          <h6 class="text-lg"><em>Are you hungry?</em></h6>
          <h1 class="text-3xl md:text-6xl font-bold">Don' t wait !</h1>
          <button class="btn mt-4 px-4 py-1 font-bold text-xl rounded-full">
            Order Now
          </button>
        </div>
        <div class="w-1/2">
          <img src="/Images/hero-pizza.png" alt="not" />
        </div>
      </div>
    </section>

    <section class="menu container mx-auto py-8">
      <h1 class="text-xl font-bold mb-8 pl-16">All Pizzas</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-16 gap-y-12">
        <% pizzas.forEach((pizza)=>{ %>
      <div class="w-full md:w-64">
        <img src="/Images/<%= pizza.image %>" class="h-40 mx-auto mb-4" alt="not" />
        <div class="text-center">
          <h4 class="mb-4 text-lg"><%= pizza.name %></h4>
          <h6 class="size py-1 px-8 text-xs rounded-full uppercase mb-4 inline-block">
            <%= pizza.size %>
          </h6>
          <div class="flex items-center justify-around">
            <span class="font-bold text-lg">₹<%= pizza.price%></span>
            <button
              class="add-to-cart py-1 px-6 font-bold rounded-full flex items-center "
            data-pizza="<%= JSON.stringify(pizza) %>">
              <span>+</span>
              <span>Add</span>
            </button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    </section>
