<section>

    <% if(session.cart) { %>
    <div class="empty-cart py-16">
        <div class=" container mx-auto xl:w-1/2">
            <div class="flex items-center mb-6">
                <img src="Images/cart-black.png" alt="not">
                <h2 class="font-bold text-2xl ml-6">Order Summary</h2>
            </div>
            <hr>
      
    <% for(let pizza of Object.values(session.cart.items)){ %>
            <div class="flex items-center justify-around">
                <div class="w-1/6 m-4">
                    <img src="Images/<%= pizza.item.image %>" alt="not">
                </div>
                <div>
                    <h1 class="font-bold text-2xl"><%= pizza.item.name %></h1>
                    <h3 class="text-xl uppercase "><%= pizza.item.size %></h3>
                </div>
                    <h3 class="text-lg"><%= pizza.qty %>pcs</h3>
                    <h3 class="font-bold text-lg">₹<%=pizza.qty*pizza.item.price%></h3>
            </div>
     <%  }  %>
<hr>

<div class="mt-6 font-bold text-xl text-right">
    <span>Total Amount: </span>
    <span class="text-3xl amount">₹ <%= session.cart.totalPrice %></span>
</div>

<div>
    <% if(!user){ %>
        <div class="text-right">
            <a href="/login"
            class="inline-block cursor-pointer btn px-6 py-2 rounded-full text-white font-bold mt-6">Login
            to continue</a>
        </div>
      
       <% } else { %>
        <div class="text-right">
            <form action="/orders" method="POST" class="mt-12" id="form">
                <select class="pay border border-gray-400 p-2 w-1/2 mb-4" id="" name="paymentType">
                    <option value="cod">Cash On Delivery</option>
                    <option value="card">Card</option>
                </select>
                <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone number" name="phone">
                <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Address" name="address">
                <div id="card-element"></div>
                <div>
                    <button class="btn px-6 py-2 font-bold text-xl rounded-full text-white mt-6" type="submit">Order Now</button>
                </div>
            
        </form>
        </div>
   
      <% } %>
    
</div>

      </div>
    </div>

      
    <% } else{ %>
            <div class="empty-cart py-16">
        <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center m-4">Cart Empty 😕</h1>
        <p class="text-center text-gray-500 text-xl">you probably haven't ordered a pizza yet.<br> To order a pizza, go to main page.</p>
        <div class="w-2/5 container mx-auto m-6">
            <img src="/Images/empty-cart.png" alt="not">
        </div>
            <a href="/" class="inline-block btn font-bold text-white py-2 px-6 text-xl rounded-full mt-12">
                Go back
            </a>   
        </div>
    </div> 
  <%  } %>

</section>